{% extends 'base.html.twig' %}

{% block title %}Universite index{% endblock %}
{% block breadcrumb %}{% endblock %}
{% block title1 %}Liste des universités{% endblock %}
{% block title2 %}Université{% endblock %}
{% block title3 %}Liste{% endblock %}


{% block body %}
    <table id="basic-datatable" class="table table-hover dt-responsive nowrap w-100">

        <thead class="table-secondary">
            <tr>
                <th>#</th>
                <th>Sigle</th>
                <th>Raison Sociale</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for universite in universites %}
            <tr>
                <td>{{ universite.id }}</td>
                <td>{{ universite.sigle }}</td>
                <td>{{ universite.raisonSociale }}</td>
                <td>
                    <a  class="btn btn-sm btn-secondary rounded-pill" title="Voir" href="{{ path('app_universite_show', {'id': universite.id}) }}"><i class="mdi mdi-eye"></i></a>
                    <a  class="btn btn-sm btn-primary rounded-pill" title="Editer" href="{{ path('app_universite_edit', {'id': universite.id}) }}"><i class="mdi mdi-pencil-box"></i></a>
                </td>

            </tr>
        {% else %}
            <tr>
                <td colspan="4">Aucun enregistrement </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
{% block datatables %}{% endblock %}
